<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>450808702625-7ismd5d7k03b9m4freodngqkblp7vl4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450808702625-7ismd5d7k03b9m4freodngqkblp7vl4c</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_D370DOZqt_QxOLBj0nuxTLigsQDD8M</string>
	<key>GCM_SENDER_ID</key>
	<string>450808702625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>frank.Budget</string>
	<key>PROJECT_ID</key>
	<string>recommendmii-343b5</string>
	<key>STORAGE_BUCKET</key>
	<string>recommendmii-343b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450808702625:ios:a5bb80ed45633bc7</string>
	<key>DATABASE_URL</key>
	<string>https://recommendmii-343b5.firebaseio.com</string>
</dict>
</plist>